body {
  font-family: 'Prompt', sans-serif;

  .id-input {
    width: 300px;
    margin: 0 auto;
    text-align: right;
  }

  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .id-input .decrease {
    margin-right: -7px;
    border-radius: 8px 0 0 8px;
  }

  .id-input .increase {
    margin-left: -7px;
    border-radius: 0 8px 8px 0;
  }

  input.number {
    font-size: 12px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .btn-mobile {
    width: 100%;
    border-radius: 0;
    min-height: 100px;
  }
}
